
.form{
   
    
    &__group{
        font: inherit;
        font-size: $default-font-size;
    }
    &__input{
        display: block;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        border:none;
        width: 90%;
        border-bottom: 3px solid transparent;
        color: inherit;
    }
    
    &__label{
        margin-top: 1rem;
    }

    
  }